@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
    font-family: "Roboto", sans-serif;
    background: white;
}

#header, #main p, #me, #services, #portfolio, #contact, #footer {
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.text-portfolio {
    background-color: #083872;
    font-size: 1rem;
  }

  .btn {
    border-radius: 5px;
    background-color: #083872;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-portfolio {
    color: white;
    height: 50px;
    width: 177.77px;
  }
  
  .btn-portfolio:hover {
    background-color: gray;
  }

  .ab:hover {
    opacity: 0.5;
  }
  
  #header img {
    width: 80px;
  }
  
  #header {
    background-color: 0; 
    transition: 0.3s;
  }

  #header  {
    min-height: 60px;
  }

  #header.abajo{
    background-color: rgba(0, 0, 0, 0.9); 
    transition: 0.3s;
  }

  .navbar-toggle {
    background-color: 0;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='4' stroke-linecap='butt' stroke-miterlimit='20' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
  }
  
  #main .center {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #main .imagen_fondo {
    background-image: url(./assets/images/bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    z-index: -1;
  }

  .tss {
    display: block;
    line-height: 1.2cm;
    margin-right: auto;
    margin-left: auto;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tsn {
    display: block;
    line-height: 1.2cm;
    margin-right: auto;
    margin-left: auto;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
  }

  #main .rw {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #me p {
    color: #414141!important;
  }
  #me .about {
    line-height: 40px;
  }
  
  #me .presentation {
    margin-top: 30px;
    padding-bottom: 20px;
  }

  #me .fa-git-alt {
    color: #f34f29;
  }

  #me .fa-angular {
    color: var(--red);
  }

  #me .fa-github {
    color: black!important;
  }

  #services p {
    color: #414141!important;
  }

  #services .bi-journal-check {
    font-size: 40px;
    margin: 20px;
    color: black!important;
  }
  #services .bi-megaphone-fill {
    font-size: 40px;
    margin: 20px;
    color: var(--orange);
  }
  #services .bi-robot {
    font-size: 40px;
    margin: 20px;
    color: var(--green);
  }

  #portfolio p {
    color: #414141!important;
  }

  .cont{
    width: 100%;
    display: flex;
  }

  .cont figure{
    position: relative;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 190px;
    max-width: 373.33px;
    overflow: hidden;
    cursor: pointer;
  }

  .cont figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms linear;
    will-change: transform;
  } 

  .cont figure:hover > img {
    transition: all 1s;
    border-radius: 10px;
    transform: scale(1.3);
  }

  .cont figure .capa h6,
  .cont figure .capa h3 {
    color: #fff;
    font-size: 15px;
    width: 100%;
    max-height: 190px;
    max-width: 373.33px;
    margin-bottom: 120px;
    transition: all 400ms linear;
    margin-top: 30px;
  }
  
  .fs {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 190px;
    max-width: 373.33px;
    padding: auto;
  }

  #contact p {
    color: #414141!important;
  }

  #contact a {
    margin-bottom: 10px; 
    text-decoration: none;
  }

  #contact .fa-linkedin-in {
    color: #0e76a8;
  }

  #contact .fa-twitter {
    color: #00acee;
  }

  #contact .fa-github {
  color: black;
  }

  #contact .fa-envelope {
  color: var(--red);
  }

  #footer p {
    color: #414141!important;
  }
 
  #footer {
    background: rgba(245,245,245,0.6);
  }
  
  .copyright {
    line-height: 0.30cm;
  }
  