@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --just-green: #135bb3;
  --red       : #d62d20;
  --orange    : #e34c26;
  --green     : #008744;
  --yellow    : #ffa700;
  --blue      : #3367d6;
  --grey      : #414141;
  --black     : #000000;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width : 11px;
  height: 10px;
}

:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  transition: all 0.6s;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}


::-webkit-scrollbar-thumb {
  border          : 2px solid rgba(0, 0, 0, 0);
  background-clip : content-box;
  background-color: #505050c1;
  border-radius   : 7px;
  transition      : all 0.6s;
}

body {
  font-family: "Roboto", sans-serif;
  background : white;
  overflow   : overlay;
  min-width  : 320px;
}

section {
  text-align: center;
  background: white;
}

#header,
#main p,
#about,
#services,
#portfolio,
#contact,
#footer {
  padding-left : 10px !important;
  padding-right: 10px !important;
}

.h2 {
  margin-bottom: 30px;
  font-size    : 35px;
}

.h5 {
  font-size: 1.17em;
}

.text-cv {
  background-color: var(--just-green);
  font-size       : 1rem;
}

.btn-cv {
  align-items     : center;
  justify-content : center;
  border-radius   : 5px;
  background-color: var(--just-green);
  display         : inline-flex;
  color           : white;
  height          : 50px;
  transition      : all 0.6s;
  width           : 177.77px;
}

.btn-cv:hover {
  transition      : all 0.6s;
  background-color: gray;
  box-shadow      : none !important;
}

/* .btn-cv,
.btn-cv *,
.btn-cv :after,
.btn-cv :before,
.btn-cv:after,
.btn-cv:before {
  border    : 0px solid;
  box-sizing: border-box;
}

.btn-cv {
  -webkit-mask-image         : -webkit-radial-gradient(#000, #fff);
}

.btn-cv:disabled {
  cursor: default;
}

.btn-cv:-moz-focusring {
  outline: auto;
}

.btn-cv {
  overflow: hidden;
  padding : 0.8rem 3rem;
  position: relative;
}

.btn-cv span {
  mix-blend-mode: difference;
}

.btn-cv:after,
.btn-cv:before {
  --tilt    : 1.2rem;
  background: rgba(255, 255, 255, 0.404);
  -webkit-clip-path: polygon(0 0,
      calc(100% - var(--tilt)) 0,
      100% 100%,
      0 100%);
  clip-path : polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
  content   : "";
  display   : block;
  height    : 100%;
  left      : calc(-100% - var(--tilt));
  position  : absolute;
  top       : 0;
  transform : translateX(var(--progress, 0));
  transition: transform 0.6s ease;
  width     : calc(100% + var(--tilt));
} */

.btn-cv:after {
  left     : 100%;
  transform: translateX(var(--progress, 0)) rotate(180deg);
  z-index  : -1;
}

.btn-cv:hover:before {
  box-sizing: border-box;
  --progress: -webkit-calc(100.125%/2);
}

.btn-cv:hover:after {
  box-sizing: border-box;
  --progress: -webkit-calc(-100.125%/2);
}


#header img {
  width: 80px;
}

/* .navbar-brand::before {
  content: "<";
  color: var(--just-green);
}

.navbar-brand::after {
  content: "/>";
  color: var(--just-green);
}
 */
nav {
  background-color: 0;
  transition      : 0.6s !important;
}

#header.abajo {
  background-color: rgba(0, 0, 0, 0.9);
  transition      : 0.6s;
}

.color {
  background-color: rgba(0, 0, 0, 0.9);
  transition      : 0.3s;
}

.hidden {
  overflow: hidden;
}

.centrado {
  background-color: black;
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  justify-content : center;
  align-items     : center;
  overflow        : hidden;
  z-index         : 999999;
}

.nav-link {
  transition: all 0.6s;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='4' stroke-linecap='butt' stroke-miterlimit='20' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  font-family     : "Font Awesome 5 Free";
  content         : "\f0c9";
}

.lds-ripple {
  display : inline-block;
  margin  : auto;
  left    : 0;
  right   : 0;
  top     : 0;
  bottom  : 0;
  position: fixed;
  width   : 80px;
  height  : 80px;
}

.lds-ripple div {
  position     : absolute;
  border       : 4px solid #fff;
  opacity      : 1;
  border-radius: 50%;
  animation    : lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top    : 50%;
    left   : 50%;
    width  : 0;
    height : 0;
    opacity: 1;
  }

  100% {
    top    : 0px;
    left   : 0px;
    width  : 100%;
    height : 100%;
    opacity: 0;
  }
}


#main .center {
  display     : block;
  width       : 250px;
  margin-left : auto;
  margin-right: auto;
}

#main .imagen_fondo {
  background-image     : url(./assets/images/bg.jpeg);
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-size      : cover;
  height               : 100vh;
  min-height           : -webkit-fill-available;
  height               : calc(var(--vh, 1vh) * 100);
  min-height           : fill-available;
  min-height           : -webkit-fill-available;
  min-width            : 320px;
  z-index              : -1;
}

.tss {
  display        : block;
  line-height    : 1.2cm;
  margin-right   : auto;
  margin-left    : auto;
  font-size      : 45px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.tsn {
  display        : block;
  line-height    : 1.2cm;
  margin-right   : auto;
  margin-left    : auto;
  font-size      : 60px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

#main .overlay {
  top             : 0;
  bottom          : 0;
  left            : 0;
  right           : 0;
  background-color: rgba(0, 0, 0, 0.92);
  height          : 100vh;
  min-height      : -webkit-fill-available;
  height          : calc(var(--vh, 1vh) * 100);
  min-height      : fill-available;
  min-height      : -webkit-fill-available;
  min-width       : 320px;
}

#main .rw {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

#about p {
  color: #414141 !important;
}

#about .about p {
  padding-right: 80px;
  line-height  : 40px;
}

#about .about a {
  text-decoration: none;
}

#about .presentation {
  font-size : 1.5em;
  margin-top: 30px;
}

#about img {
  width : 65px;
  height: 65px;
}

#about .fab {
  font-size: 65px;
}

#about .fa-git-alt {
  color: #f34f29;
}

#about .fa-docker {
  color: #2496ed;
}

#about .fa-laravel {
  color: #ff2e21;
}

#about .fa-github {
  color: black !important;
}

#services p {
  color: var(--grey) !important;
}

#services .h6p {
  margin-bottom: 15px;
}

#services .services_p--information {
  margin-top   : 0;
  margin-bottom: 0;
  line-height  : normal;
}

#services .text-decoration {
  padding-left : 40px !important;
  padding-right: 40px !important;
}

#services .bi-journal-check {
  color: var(--green);
}

#services .bi-megaphone-fill {
  color: var(--orange);
}

#services .bi-robot {
  color: var(--blue);
}

#services .bi-code-slash {
  color: var(--red);
}

#services .bi-phone {
  color: var(--black);
}

#services .bi-lightning-fill {
  color: var(--yellow);
}

#services .bi-journal-check,
#services .bi-megaphone-fill,
#services .bi-robot,
#services .bi-code-slash,
#services .bi-phone,
#services .bi-lightning-fill {
  font-size : 45px;
  margin    : 20px 0;
  transition: all 0.3s;
}

#services .row div {
  margin: 40px 0;
}

#services div:hover>.bi-journal-check,
#services div:hover>.bi-megaphone-fill,
#services div:hover>.bi-robot,
#services div:hover>.bi-code-slash,
#services div:hover>.bi-phone,
#services div:hover>.bi-lightning-fill {
  transition: all 0.6s;
  color     : #414141;
}

.text-portfolio {
  background-color: var(--just-green);
  text-align      : center;
  font-size       : 14px;
}

#portfolio p .subtitle {
  margin-bottom: 20px;
}

.btn-portfolio a {
  text-decoration: none;
}

.btn-portfolio {
  border-radius: 1px;
  background   : #191919;
  color        : #f5f5f5;
  height       : 27px;
  width        : 104px;
  transition   : all 0.3s;
  padding      : 0%;
}

.btn-portfolio:hover {
  transition      : all 0.3s;
  background-color: gray;
  box-shadow      : none !important;
}

#portfolio p {
  color: #414141
}

.cont {
  gap          : 20px;
  margin       : 0 0 0 0;
  margin-bottom: 20px;
}

.cont figure {
  position                   : relative;
  border-radius              : 10px;
  object-fit                 : cover;
  width                      : 100%;
  height                     : 190px;
  max-width                  : 373.33px;
  overflow                   : hidden;
  cursor                     : pointer;
  margin                     : auto;
  /* This repair the overflow of border radius hover in apple devices */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility   : hidden;
  -webkit-transform          : translate3d(0, 0, 0);
  -moz-transform             : translate3d(0, 0, 0);
}

.cont figure picture img.fs {
  width        : 100%;
  height       : 100%;
  transition   : all 400ms;
  border-radius: 10px;
}

.cont figure:hover>picture img.fs {
  transition   : all 1s;
  border-radius: 10px;
  transform    : scale(1.3);
}

.fs {
  border-radius: 10px;
  object-fit   : cover;
  height       : 100%;
  width        : 100%;
  max-height   : 190px;
  max-width    : 373.33px;
  padding      : auto;
}

.overlayBottom .portfolios p {
  color: white !important;

}

.overl {
  position        : absolute;
  opacity         : 0;
  transition      : all 0.3s;
  background-color: #008cba;
}

.cont:hover .overl {
  opacity: 1;
}

.overlayBottom {
  position        : absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top             : 300px;
  height          : 100%;
  width           : 100%;
  border-radius   : 10px;
  z-index         : 1;
  display         : flex;
  flex-direction  : column;
}

.cont figure:hover .overlayBottom {
  opacity      : 1;
  transition   : all 0.5s;
  border-radius: 10px;
  transform    : translateY(-300px);
}

#contact p {
  color: #414141 !important;
}

#contact a {
  margin-bottom  : 10px;
  text-decoration: none;
}

#contact a:hover>.ab {
  transition: all 0.6s;
  color     : #414141;
}

#contact .fa-linkedin-in,
#contact .fa-twitter,
#contact .fa-github,
#contact .fa-envelope {
  font-size : 50px;
  transition: all 0.3s;
}

#contact .fa-linkedin-in {
  color: #0e76a8;
}

#contact .fa-twitter {
  color: #00acee;
}

#contact .fa-github {
  color: var(--black);
}

#contact .fa-envelope {
  color: var(--red);
}

#footer p {
  color: #414141 !important;
}

#footer {
  background: rgba(245, 245, 245, 0.6);
}

.copyright {
  line-height: 0.30cm;
}