@media (min-width: 1200px) {
    .row {
        margin-right: -25px;
        margin-left : -25px;
    }

    section {
        padding: 90px 0;
    }

    #header .navbar-brand {
        margin-right: -10px;
        margin-left : -14px;
    }

    #header .collapse {
        margin-right: -10px;
        margin-left : -10px;
    }

    .navbar-dark .navbar-brand {
        font-size: 22px;
    }

    #services .h6p {
        font-size: 1.17rem;
    }

    .rw {

        margin-right: -35px !important;
        margin-left : -35px !important;
    }

}

@media (max-width: 1199px) {

    .h2 {
        font-size: 25px !important;
    }

    section {
        padding: 50px 0;
    }

    #about .skills {
        margin-right: -15px;
        margin-left : -15px;
    }

    #about .row .h2,
    #services .row div,
    #portfolio .row .h2,
    #contact .row .h2,
    #footer .row .h2 {
        margin: 20px 0 !important;
    }
}

@media (min-width: 992px) {

    .navbar-dark .navbar-nav .nav-link {
        padding     : 0;
        padding-left: 20px;
    }

    #contact .text-center div {
        padding: 40px;
        gap    : 30px !important;
    }
}

@media (max-width: 991px) {

    #header .navbar-brand {
        margin-right: -4px;
        margin-left : -6px;
    }

    .modal-nav-body {
        height    : 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available !important;
        height    : calc(var(--vh, 1vh) * 100) !important;
    }
}

@media (max-width: 767px) {

    #main .ws {
        max-width    : 250px;
        margin-bottom: 34px;
    }

    #main .tss {
        vertical-align: text-top;
        line-height   : 0.50cm;
        font-size     : 25px;
    }

    #main .tsn {
        line-height: 0.50cm;
        font-size  : 30px;
    }

    #main .bs {
        font-size: 10px;
    }

    #main .imagen_fondo {
        background-image: url(./assets/images/bg_responsive.webp);
        height          : 100vh;
        min-height      : -webkit-fill-available;
        height          : calc(var(--vh, 1vh) * 100);
    }

    section {
        padding: 40px 0;
    }

    #about .presentation {
        margin-top: 0px !important;
    }

    #about img {
        width : 50px !important;
        height: 50px !important;
    }

    #about .fab {
        font-size: 50px !important;
    }

    #about .about p {
        padding-right: 10px !important;
    }

    #contact .text-center div {
        padding: 20px !important;
    }

    #header,
    #main p,
    #me,
    #services,
    #portfolio,
    #contact,
    #footer {
        padding-left : 10px;
        padding-right: 10px;
    }

}