@media (max-width: 1200px) {
    .modal-nav-body {
        height    : 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;
    }

}

@media (max-width: 991px) {
    #main .ws {
        max-width    : 250px;
        margin-bottom: 34px;
    }
}

@media (max-width: 600px) {
    #main .tss {
        vertical-align: text-top;
        line-height   : 0.50cm;
        font-size     : 25px;
    }

    #main .tsn {
        line-height: 0.50cm;
        font-size  : 30px;
    }

    #main .bs {
        font-size: 10px;
    }

    #main .imagen_fondo {
        background-image: url(./assets/images/bg_responsive.png);
    }

    #about .presentation {
        margin-top: 0px !important;
    }

    #about img {
        width : 50px!important;
        height: 50px!important;
    }

    #about .fab {
        font-size: 50px!important;
    }

    #about .about p {
        padding-right: 10px!important;
    }

    #header,
    #main p,
    #me,
    #services,
    #portfolio,
    #contact,
    #footer {
        padding-left : 10px;
        padding-right: 10px;
    }

}